<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="hero">
        <nav>
            <h2 class="logo">Movie<span>Recs</span></h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Popular</a></li>
                <li><a href="#">Genres</a></li>
                <li><a href="/loginpage">Login</a></li>
                <li><a href="/registration">Register</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Services</a></li>
            </ul>
        </nav>
        

        <div class="content">
            <h1>Find Your Next Favorite Movie</h1>
            <p>Discover top picks, trending titles, and personalized recommendations just for you.</p>
            <a href="dashboard.html"><button>Get Recommendations</button></a>
            
        </div>
        
    </div>
</body>
</html>
